@{
    ViewData["Title"] = "Courses";
    int students_Count = 50;
}

<div class="container mt-5">
    <h1>أكاديمية طويق</h1>

    <div class="alert alert-success">
        عدد الطلاب:
        <strong>@students_Count</strong>
    </div>
</div>